/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}
/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
/*	list-style-type: none;*/
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro, #succeed-info  {
	/*padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3{
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	/*aligns elements with the tallest element in line*/
	/*used with the "inline-block" value*/
	vertical-align: text-top;
	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	width: 30%;
	margin: 0 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin: 0 0.5rem;
}