/*
	- The "h1" is a "type selector" and is used to target elements with a specified type/tag name.
	- The "color" property changes the color of text.
*/
h1 {
/* !important overrides all	*/
	color: green !important;
}

* {
/* - The "*" symbol is a "universal selector" and is used to target all elements.
	- When changing the style of elements, apply the changes per line and show the students the output.
	- Multiple properties may be added for different CSS Rules.
	- Some properties may also accept multiple values.
	- The "font-family" property changes the style of the font.
	- The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font.
	- The "font-size" property changes the size of text.
	- The value "20px" refers to 20 pixels in size.
*/
	font-family: Courier New, monospace;
/*	font-size: 20px;*/
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	/* - The "text-transform" property changes font to a certain case.
	- The value "uppercase" changes the text to all capitalized letters.	*/
	text-transform: uppercase;
}

/* attr selector  */
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3 {
/* wont work, lower heirarchy than #zuitt-motto */
	letter-spacing: 25px !important;
} 

/*
heirarcy
inline
internal
- id
- class
- attr
- type
- *
external
- id
- class
- attr
- type
- *
*/

/* combinators */
/* adjacent sibling (seelctor + selector)*/

/* The selectors used for combinator selectors aren't restricted to type selectors only. ID, class, attribute and universal selectors may also be used.
The "height" property changes the vertical dimensions of an element.
The "width" property changes the horizontal dimensions of an element.
The "border-radius" property changes the corners of an element from a sharp to a rounded corner. The higher the value the more rounded the corners are.*/

/*h3 + img {*/
#zuitt-motto + img {
	height: 300px;
	width: 300px;
/*	border-radius: 150px;*/
}

/* descendant selector (selector [space] selector)*/
#bootcamp-learning-list li {
	/* The "color" property and similar properties that change color can also accept hex values. Hexadecimal values consist of the pound (#) sign in combination with 6 alphanumeric characters. */
	color: #075966;
}

/* general sibling selector (selector ~ selector) */
h2 ~ a {
	text-decoration: none;
}

/* child selector (selector > selector)*/
body > section > form > label {
	color: rgb(0,0,128);
}

body {
	background-color: skyblue;
}

html {
	/* The "scroll-behavior" property changes the scrolling behavior when clicking on anchor tags.*/
	/* The value "smooth" changes the scrolling behavior of a page jumping from one section to the next to smoothly scroll to a section.	*/
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	/* The "a:hover" pseudo class will change the style of an element when it is hovered over.*/
	background-color: #b4d6de;
}

div	{
	display: inline-block;
	/* The "float" property changes the horizontal alignment of an element to float either to the left or right of it's container. */
	float: right;
}

section {
	height: 100vh;
}

h2 {
	/* The value "rem" is based on the "font-size" property of the "root element". In this case, the "font-size" of the root element is at "20px" defined by the Universal Selector. The rem value acts as a multiplier of this value. "2rem" is equivalent to "20px". Using this value for text allows us to implement consistency within text styles instead */
	/* The default value of the root element is at "16px. */
	font-size: 1.5rem;
}

ol {
	list-style: none;
}

form {
	/* The "text-align" property changes the horizontal alignment of text or all nested text elements. */
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	/* Use "absolute measurements" like "px" for elements that we don't want to change in dimension regardless of screensize. "relative measurements" like "vw" and "vh" are good for responsive design. */
	width: 25vw;
	/* The "position" property changes the position of an element based on certain criteria. */
	/* The value "relative" tells the element to move in relation to it's original position in the HTML document. */
	/* The "left" property is used along with the "position" property to add a certain measurement to the left of an element. The "right", "top" and "bottom" properties also function the same way. Though only two at a time is recommended to be used to position elements. Either the "top" or "bottom" for vertical alignment and the "left" and "right" for horizontal alignment. */
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	/* Some CSS properties have a shorthand property that combines several properties into one. An example of this is the "border" property which combines the "border-width", "border-style" and "border-color" properties into one. */
	/* The value "2px solid black" refers to the "border-width", "border-style" and "border-color" properties respectively. */
	border: 0;
	border-radius: 15px;
}