/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav, front-bg {
	padding: 1rem 10% 1.5rem;
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	margin-bottom: 2rem;
	border-bottom: 1px inset gray;
}

nav * {
	margin: 0.5rem;
	display: inline;
}

.right-nav {
	position: relative;
	float: right;
}

.tuitt-button, .apply-button {
	background-color: #c2195b;
}

button {
	color: white;
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 25px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

#bg-image .container {
	width: 40vw;
	position: relative;
	left: 50%;
	color: white;
	text-align: right;
}

 .apply-button {
 	text-align: right;
 	padding: 1rem 2.5rem;
 }

#bg-image .container .title, #bg-image .container .subtitle {
	margin-bottom: 2rem;
}

.title, .title-2 {
	font-family: 'Zilla Slab';
}

.title {
	font-size: 3rem;
}

.subtitle {
	font-size: 2rem;
	font-weight: normal;
}

.title-2{
	font-size: 2.5rem;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	background-color: #336589;
	color: white;
 	padding: 1rem 2.5rem;
}

footer {
	text-align: center;
}

.intro, .pre-footer{
	padding: 3rem 15%;
	position: relative;
}

.title-2, .pre-footer{
	text-align: center;
	margin: 2rem 0;
}
