* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* bootstrap font */
body {
	font-family: 'Helvetica Neue', sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}

.p-3 {
	padding: 15px;
}

.bg-secondary {
	background-color: lightslategray;
}


.bg-success {
	background-color: forestgreen;
}

.bg-warning {
	background-color: orange;
}

.bg-danger {
	background-color: darkred;
}

/* CSS and bootstrap flexbox */
.d-flex {
	/*The "flex" value of the "display" property will change the element into a block-level flex container. */
	/* This will make all the child elements become "flexible" that allows them to occupy space enough for the content of an element and at the same time will have the elements appear beside each other. */
	display: flex;
}

.justify-content-center {
	/* The CSS "justify-content" property may only be applied if the element has a "flex" value for it's "display" property. */
	/* The "justify-content-center" class will horizontally center all child elements. */
	/* There may be instances that justify-content property may not work due to a lack of width on it's parent element. */
	/* Using the combination of the CSS "width" property and the justify-content property helps align elements horizontally. */
	justify-content: center;
}

.align-items-center {
	/* The CSS "align-items" property allows us to manipulate the positioning of elements vertically. */
	align-items: center;
}

.flex-column {
	/* The CSS "flex-direction" property allows us to manipulate the direction of how elements are positioned inside a flex container. */
	flex-direction: column;
}

.flex-column-reverse {
	/* The "column-reverse" value will display the elements vertically. */
	flex-direction: column-reverse;
}