/* Display properties
	inline - reasonable, enough width for itself
	block - full fat, full width, "space is all mine"
	inline-block
	none
 */

#div-1 {
	background-color: green;
	display: inline;
}

#span-1 {
	background-color: purple;
	display: none;
	/* W and H cannot be used with inline elems */
	width: 200px;
	height: 200px;
}

#span-2 {
	background-color: red;
	display: block;
}

#div-2 {
	background-color: hotpink;
	display: none;
}

#img {
	display: inline-block;
	/* inline-block can set H and W, can appear side by side with other inline elems */
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3 {
	background-color: limegreen;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float {
	width: 250px;
	height: 250px;
	float: inherit; /* left, right */
}

.box {
	background-color: darkred;
	color: white;
	border: 1px solid black;
	margin: 5px;
}


.fifty-percent {
	width: 50%;
}

.one-hundred-px {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twentyfive-vh {
	height: 25vh;
}

.one-rem {
	/* based on root elem (html, default 16px) */
	font-size: 1rem;
}

.one-em {
	/* based on parent elem  */
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.two-hundred-percent {
	/* percents base off of the parent */
	font-size: 200%;
}

/* CSS bg properties*/
.background {
	min-height: 100vh;
	/* background-color - can change the color background. It can takes #hex value or an rgb value. */
	background-color: gray;
	/* background-image: url(URI) - Takes on the path to your image. */
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/* background-repeat - whether you would like the background to repeat if the width exceeds the background size. */
	background-repeat: no-repeat; /* repeat-x, repeat-y, round, space */
	/* background-size - specifies the size of the background images.*/
	/*two val ver - W, H*/
	background-size: 100%; /* auto, contain, cover */
	/* background-position - position of the background relative to the HTML element.
	Two values are needed here, X and Y, where X is the amount of offset from the left and Y is the amount of offset from the top. */ 
	background-position: center top; /* left, center, right, bottom, top */
	/* background-attachment - sets whether a background image scrolls with the rest of the page or is fixed. */
	background-attachment: fixed; /* fixed, scroll */
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 150vh;
}

.child-1 {
	background-color: gray;
	padding: 10px;
}

/* static default value for elements - positioned accrd to the normal flow of the document */
/* relative - remains in the normal flow of the document but with additional properties (left, right, top, bottom, z-index) */
/* Absolute - Elements with position: absolute are positioned relative to their parent elements. */
/* Fixed - Fixed-position elements are similar to absolutely positioned elements. They are also removed from the normal flow of the document. But unlike absolutely positioned elements, they are always positioned relative to the  element. */
/* Sticky - position: sticky is a mix of position: relative and position: fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element. */
.child-2 {
	background-color: yellow;
	position: sticky; 
	padding: 10px;
	top: 10px;
}

.child-3 {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/* z-index */
.container {
	position: relative; /* pre requisite of z-index */
}

.black-box {
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{	
	position: absolute;
	z-index: 3;
	background: rgba(1, 1, 1, 0.25);
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}